*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
}
.grid-container{
    display: grid;
    grid-template-areas: 'header header header header header header'
                          'menu main main main main right'
                          'footer footer footer footer footer footer';
    gap: 10px;
    background-color: white;
    padding: 10px;
}
.grid-container > div{
    padding: 10px;
    font-size: 16px;
}
.item1{
    grid-area: header;
    background-color: yellow;
    text-align: center;
    color: blue;
}
.item > h1{
    font-size: 40px;
}
.item2{
    grid-area: menu;
}
.item2 ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.item2 li{
    padding: 8px;
    margin-top: 7px;
    background-color: #33b5e5;
    color: #ffffff;
}
.item2 li:hover{
    background-color: aquamarine;
}
.item3{
    grid-area: main;
}
.item3 > h1{
    font-size: 30px;
    margin-bottom: 7px;
}
.item > p{
    margin-bottom: 7px;
}
.item4{
    grid-area: right;
    border: 1px solid green;
    background-color: white;
    padding: 15px;
    color: pink;
}
.item4 > h2{
    font-size: 20px;
    padding-bottom: 10px;
}
.item4 li{
    padding: 5px;
    margin-bottom: 5px;
}
.item5 {
    grid-area: footer;
    background-color: burlywood;
    color: chartreuse;
    text-align: center;
}
